<% layout('layout/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/gayComicstyles.css">

    <h3 class=" mt-2 hausFont text-center">Search Results:</h3>

    <% if(gayComics.length===0) { %>
        <h3 class=" mt-2 hausFont text-center">No Results</h3>

        <% } %>
            <% for (let i=0; i< gayComics.length; i++) { %>
                <% if (i !==0 && i % 3===0) { %>
                    </div>
                    <% } %>
                        <% if (i===0 || i % 3===0) { %>
                            <div class="row">
                                <% } %>
                                    <div class="col-lg-4  col-xs-12">
                                        <a class="link" style="text-decoration: none;"
                                            href="/comics/gay/<%=gayComics[i].pageNumber%>/<%=gayComics[i]._id%>">

                                            <img loading="lazy" class="img-thumbnail gayIndexBorder"
                                                src="/uploads/GayComics/<%= gayComics[i].filename %> "
                                                alt="<%= gayComics[i].description %>"
                                                title="<%= gayComics[i].title %> ">

                                            <p class="hausFont">
                                                #<%= gayComics[i].ordinality %>
                                                    <%= gayComics[i].title%>
                                            </p>
                                        </a>

                                    </div>
                                    <% } %>
                            </div>